# Python ignores
*pychache*

# Vim ignores
*.swp

# Input file ignores
ocn_prep/fix/
atm_prep/atm_ic/
atm_prep/atm_lbc/
*.nc
*.a
*.b

# Output file ignores
ocn_prep/outputs/
ocn_prep/intercom/
atm_prep/intercom/
*.log
